*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

.section{
    padding: 83px 0;
}

.div{
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

ul{
    display: flex;
    justify-content: center;
}

.adad:not(:last-child){
    margin-right: 30px;
}

.list_item{
    width: 270px;
}

.h3{
    color: black;
    font-family: Roboto;
font-size: 14px;
font-weight: 700;
line-height: 16px;
letter-spacing: 0.03em;
text-align: left;
margin-bottom: 10px;
}

.p-1{
   color: #757575; 
    font-family: Roboto;
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.03em;
text-align: left;
}

.list-item{
    color: #212121;
    font-family: Roboto;
font-size: 36px;
font-weight: 700;
line-height: 42px;
letter-spacing: 0.03em;
text-align: center;
margin: 0 auto 40px;
}

.ga:not(:last-child){
    margin-right: 30px;
}
